@charset "utf-8";

/*!  
 *   PAGE - Support
 */
 
.page_support .support {
    display: inline-block;
    
    .contact {
         display: inline-block;
         text-align: center;
         margin: 3.8rem auto;

         &:after {
             display: block;
             content: '';
             clear: both;
         }

         a {
             display: block;
             overflow: hidden;
             float: left;
             width: 5.3rem;
             height: 5.3rem;
             margin: 0 0 0 6rem;
             text-indent: -999em;
             border-radius: 50%;
             background-color: #b5b5b5;
             background-position: 50%;
             background-repeat: no-repeat;

             &:first-child {
                 margin-left: 0;
             }
             
             &.mail {
                 background-image: url(../images/ico_mail.svg);
                 background-size: 54%;
             }
             &.tel {
                 background-image: url(../images/ico_tel.svg);
                 background-size: 42%;
             }
             &.facebook {
                 background-image: url(../images/ico_facebook.svg);
                 background-size: 58%;
             }
         }

    } //end of .contact
    
    .address {
        margin: 0 auto;
        word-break: keep-all;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.4;
        color: #666;

        &:before {
            display: block;
            content: '';
        }

        .terms {
            display: inline-block;
            margin: 0 auto 0.8rem;

            li {
                display: block;
                margin-bottom: 0.4rem;
                text-align: center;
                font-size: 1.2rem;

                a {
                    color: #454545;
                    text-decoration: underline;
                }
            }
        } 
    }//end of .address
}
